@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    font-family: 'Roboto';
}
nav {
  position: sticky;
  top: 0%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  display: inline;

  margin-right: 20px;
  font-size: 20px;
}
.link {
  color: red;
  text-decoration: none;
}
.list{
    color: green;
    font-size: 30px;
}
.content{
    text-align: center;
    text-size-adjust: 10rem;
    padding: 15rem ;
    background: url('../images/bgg.jpg');
    background-size: cover;

    color: black;
}

.content_subheading{
    color: rgb(14, 243, 14);
}

.btn-primary{
   background-color: rgb(22, 236, 22);
   color: white;
   padding: 10px 20px ;
   border : none;
   border-radius: 15px;

}
.highlighted_test{
 color: green;

}
/* schedule's page css  */
.schedule{
  text-align: center;
  background-color: aquamarine;
}
.video_section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items : center;
}
.image_jpg{

display:grid;
grid-template-columns: auto auto;
padding: 2rem;

}
.txt1{
  display: flex;
  justify-content: end;
}
.txt{
}
.secs{
  display: flex;
  justify-content: center;
}


.second{
  
  display: grid;
  grid-template-columns: auto auto auto;
 padding: 2rem;
  
}
.abbs{
  margin: 2rem  ;
}
.meal{
  color: rgb(11, 226, 11);
}
.head{
  line-height: 2px;
}
.third{
  text-align: center;
}
.hig  {
  color: green;
}
/* meal plan section   */
.back_g{
  background-image: url(../images/back.jpg);
  background-repeat: no-repeat;
  background-position: 10px;
  
}
.main_division{
  display: flex;
  justify-content: space-around;
}
.left_part{
  
 width: 360px;

  
  
}

.picture_side{
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
  
}
.pic_c{
  position: relative;
  border: 1px solid white;
  border-radius: 10px;
  -webkit-box-shadow: 1px 2px 12px 5px rgba(0,0,0,0.72); 
box-shadow: 1px 2px 12px 5px rgba(0,0,0,0.72);
}


.tet_t{
 color: rgb(30, 230, 30);
  border: 1px solid rgb(243, 238, 238);
  background-color: white;
  position: absolute;
  bottom: -24px;
  left: -9px;
  padding: 12px 12px;
  border-radius: 10px;

}

.wass{
  display: flex;
  justify-content: center;
  
}
.okay{
  text-align: left;
  padding: 80px;
  width: 800px;
  float: left;
}
.author{
  float: right;
}
/* next section  */
.headding{
  text-align: center;
  
}
.mann{
  display: grid;
  grid-template-columns: auto auto auto;
  
}
.coll{
  color: rgb(21, 218, 21);
}
.bottom_line{
  color: rgb(6, 231, 6);
}